div.cell {
  width: 100%;
  padding: 2px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

form.nodeForm {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  font-size: .875rem;
}

div.children {
  margin-left: 20px;
  border-bottom: solid 1px lightgray;
}

div.button {
  height: 1.2rem;
  width: 1.2rem;
}

input {
  font-size: .9rem;
  border: none;
  background-color: transparent;
}

select {
  font-size: .9rem;
}

input.number {
  width: 4rem;
}

span.text {
  font-size: 1rem;
  font-weight: bold;
}

