<mat-card>
  <mat-card-header>
    <mat-card-title>Log In</mat-card-title>
  </mat-card-header>
  <form class="home" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>User's Email Address</mat-label>
      <input matInput id="email" formControlName="email" required="true" />
      @if (loginForm.controls.email.hasError('required')) {
        <mat-error>Proposed user's email is required!</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Account Password</mat-label>
      <input matInput id="password" formControlName="password"
        type="password" required="true" />
      @if (loginForm.controls.password.hasError('required')) {
        <mat-error>Account password is required!</mat-error>
      }
    </mat-form-field>
    <div class="formButtons">
      <button mat-raised-button type="submit">Log In</button>
      <button mat-raised-button type="reset">Clear</button>
    </div>
    @if (errorMsg() !== '') {
      <div class="errormsg">{{ errorMsg() }}</div>
    }
  </form>
  <div class="additional">
    <button mat-button (click)="onForgot()">Forgot Password</button>
    <button mat-button (click)="onClick('createuser')">Create Account</button>
  </div>
</mat-card>