.full-form {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 99%;
}

mat-expansion-panel-header {
  width: 99%;
  height: 60px;
}

mat-icon {
  font-size: 1.2rem;
}