<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header color="primary">
    @if (plantype()!.toLowerCase() === 'journal') {
      <mat-panel-title>
        {{months[month()!.month - 1]}}
        <span class="flex-spacer"></span>
        <div class="icon" matTooltip="Add new day to period">
          <mat-icon>add_circle</mat-icon>
        </div>
        <div class="icon" matTooltip="More actions">
          <mat-icon>more_vert</mat-icon>
        </div>
      </mat-panel-title>
    } @else {
      <mat-panel-title>Full Plan List</mat-panel-title>
    }
  </mat-expansion-panel-header>
  <div class="days">
    @for (day of month()!.days; track day.dayOfMonth) {
      <button mat-button (click)="onSelectDay(day.dayOfMonth)">
        {{ day.dayOfMonth }}
      </button>
    }
  </div>
  @if (showEditor()) {
    <div class="dayeditor">
      <div class="editorHeader">
        <div class="day">{{ day()!.dayOfMonth }}</div>
        <span class="flex-spacer"></span>
        <div class="icon">
          <mat-icon>add_circle</mat-icon>
        </div>
        <div class="icon">
          <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <div class="editor">
        @for (reading of day()!.readings; track reading.id) {
          <app-plan-reading-component [reading]="reading" [books]="books()!"
            [key]="key()! + '-' + day().dayOfMonth + '-' + reading.id" 
            [readings]="day().readings.length"
            (change)="onChange($event)" style="width: 100%;">
          </app-plan-reading-component>
        }
      </div>
    </div>
  }
</mat-expansion-panel>