mat-panel-title {
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
}

mat-expansion-panel-header {
  background-color: var(--mat-sys-primary-container);
}

mat-expansion-panel {
  background-color: var(--mat-sys-tertiary-container);
}

div.icon {
  display: flex;
  flex-direction: column;
  width: 1.2rem;
  height: 1.2rem;
  align-items: center;
  justify-content: center;
}
mat-icon {
  font-size: 1rem;
}