<mat-card [style]="cardStyle()">
  <mat-card-header>
    <mat-card-title>Required Password Change</mat-card-title>>
  </mat-card-header>
  <div class="overall">
    <form [formGroup]="changeForm" class="newuser" (ngSubmit)="onSubmit()">
      <mat-form-field style="width: 300px;">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email">
        @if (changeForm.controls.email.hasError('required')) {
          <mat-error>Your email address is required</mat-error>
        }
        @if (changeForm.controls.email.hasError('email')) {
          <mat-error>This must be in email format (name@company)</mat-error>
        }
      </mat-form-field>
      <mat-form-field style="width:300px;margin-bottom:15px;">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password">
        @if (changeForm.controls.password.hasError('required')) {
          <mat-error>A new password is required</mat-error>
        }
        @if (changeForm.controls.password.hasError('password')) {
          <mat-error>The new password must have 2 each lower, upper case and numbers</mat-error>
        }
      </mat-form-field>
      <mat-form-field style="width:300px;">
        <mat-label>Verify New Password</mat-label>
        <input matInput type="password" formControlName="verify">
        @if (changeForm.controls.verify.hasError('required')) {
          <mat-error>A new password is required</mat-error>
        }
        @if (changeForm.controls.verify.hasError('match')) {
          <mat-error>The passwords must match</mat-error>
        }
      </mat-form-field>
      @if (errorMsg() !== '') {
        <div class="errorMsg">
          {{errorMsg()}}
        </div>
      }
      <div class="formRow">
        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button type="submit">Change</button>
      </div>
    </form>
  </div>
</mat-card>